<html lang="en">
  <head>
    <title>Doctor</title>
    <style>
      #newdoctor {
        margin: 3cm;
      }
      #newdoctor > p {
        font-size: 20px;
      }
      #buttons {
        margin: 3cm;
        size: 30px;
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#newblog").onclick = function () {
          window.location.href = "http://127.0.0.1:8000/admin/app/post/add/";
        };
        document.querySelector("#blogs").onclick = function () {
          window.location.href = "http://127.0.0.1:8000/blogs";
        };
      });
    </script>
  </head>
  <body>
    <div id="buttons">
      <button
        id="newblog"
        style="
          font-size: 25px;
          border-radius: 30px;
          background-color: skyblue;
          padding: 20px;
        "
      >
        Create New Blog</button
      ><br />
      <br /><br /><br /><br />
      <button
        id="blogs"
        style="
          font-size: 25px;
          border-radius: 30px;
          background-color: skyblue;
          padding: 20px;
        "
      >
        View Blogs</button
      ><br />
    </div>
  </body>
</html>
