<html lang="en">
  <head>
    <title>Add Person</title>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#adduser").onclick = function () {
          window.location.href = "http://127.0.0.1:8000/addperson";
        };
        document.querySelector("#login").onclick = function () {
          window.location.href = "http://127.0.0.1:8000/login";
        };
      });
    </script>
  </head>
  <body style="margon-left: 3cm">
    <header>
      <h1>Django Task - 1</h1>
    </header>
    <hr />
    <div style="margin-left: 3cm">
      <button id="adduser">Add New User</button>
      <button id="login">Login</button>
    </div>
  </body>
</html>
