<html lang="en">
  <head>
    <title>Choose Field</title>
    <style>
      div {
        margin: 3cm;
      }
      #patient,
      #doctor {
        width: 5cm;
        height: 2cm;
        background-color: skyblue;
        border-radius: 50px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1 style="margin-left: 3cm">Django Task - 1</h1>
    </header>
    <hr />
    <div>
      <h1>Choose a field...</h1>
      <br />
      <button
        id="doctor"
        onclick="location.href='http://127.0.0.1:8000/doctor';"
      >
        Doctor
      </button>
      <button
        id="patient"
        onclick="location.href='http://127.0.0.1:8000/patient';"
      >
        Patient
      </button>
    </div>
  </body>
</html>
