<html lang="en">
  <head>
    <title>Patient</title>
    <style>
      #patientform {
        margin: 3cm;
      }
      #patientform > p {
        font-size: 20px;
      }
      #buttons {
        margin: 3cm;
        size: 30px;
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#newpatient").onclick = function () {
          document.querySelector("#patientform").style.display = "block";
        };
        document.querySelector("#blogs").onclick = function () {
          window.location.href = "http://127.0.0.1:8000/blogs";
        };
        document.querySelector("#appointment").onclick = function () {
          window.location.href = "http://127.0.0.1:8000/appointment";
        };
      });
    </script>
  </head>
  <body>
    <div id="buttons">
      <button
        id="newpatient"
        style="
          font-size: 25px;
          padding: 20px;
          border-radius: 30px;
          background-color: skyblue;
        "
      >
        Create New Patient</button
      ><br /><br /><br /><br />
      <button
        id="blogs"
        style="
          font-size: 25px;
          padding: 20px;
          border-radius: 30px;
          background-color: skyblue;
        "
      >
        View Blogs
      </button>

      <br /><br /><br /><br />
      <button
        id="appointment"
        style="
          font-size: 25px;
          padding: 20px;
          border-radius: 30px;
          background-color: skyblue;
        "
      >
        Book Appointment
      </button>
    </div>
    <div id="patientform" style="display: none">
      <h1>Enter the Patient's details:</h1>
      <hr />
      <form action="" method="post">
        {% csrf_token %}
        <p>Enter First Name:</p>
        <input
          id="firstname"
          name="firstname"
          type="text"
          placeholder="First Name"
        />
        <p>Enter Last Name:</p>
        <input
          id="lastname"
          name="lastname"
          type="text"
          placeholder="Last Name"
        />
        <p>Enter Username:</p>
        <input
          id="username"
          name="username"
          type="text"
          placeholder="Username"
        />
        <p>Enter Email:</p>
        <input id="email" name="email" type="text" placeholder="Email" />
        <p>Enter Password:</p>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="password"
        />
        <p>Confirm Password:</p>
        <input
          id="confirmpassword"
          name="confirmpassword"
          type="password"
          placeholder="Confirm Password"
        />
        <p id="passwordresult"></p>
        <p>Enter Address:</p>
        <input id="address" name="address" type="text" placeholder="Address" />
        <br /><br />
        <input id="submit" type="submit" value="POST" />
      </form>
    </div>
  </body>
</html>
