<html lang="en">
  <head>
    <title>Patient</title>
    <style>
      #patientform {
        margin: 3cm;
      }
      #patientform > p {
        font-size: 20px;
      }
      #buttons {
        margin: 3cm;
        size: 30px;
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#blogs").onclick = function () {
          window.location.href = `http://127.0.0.1:8000/blogs/${}`;
        };
        document.querySelector("#appointment").onclick = function () {
          window.location.href = `http://127.0.0.1:8000/appointment/${}`;
        };
      });
    </script>
  </head>
  <body>
    <div id="buttons">
      <button
        id="blogs"
        style="
          font-size: 25px;
          padding: 20px;
          border-radius: 30px;
          background-color: skyblue;
        "
      >
        View Blogs
      </button>

      <br /><br /><br /><br />
      <button
        id="appointment"
        style="
          font-size: 25px;
          padding: 20px;
          border-radius: 30px;
          background-color: skyblue;
        "
      >
        Book Appointment
      </button>
    </div>
  </body>
</html>
